<a href="https://colab.research.google.com/github/shashi29/Text-code-repo/blob/master/ImageProcessing_v1_0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import cv2
import numpy as np
import pandas as pd
import xml.etree.ElementTree as ET
import sys
import glob

import matplotlib.pyplot as plt
import csv
try:
    from PIL import Image
except ImportError:
    import Image

from google.colab.patches import cv2_imshow

## Basic Image processing :
Extract all the rectangles

In [ ]:
def sort_contours(cnts, method="left-to-right"):
  # initialize the reverse flag and sort index
  reverse = False
  i = 0
  # handle if we need to sort in reverse
  if method == "right-to-left" or method == "bottom-to-top":
      reverse = True
  # handle if we are sorting against the y-coordinate rather than
  # the x-coordinate of the bounding box
  if method == "top-to-bottom" or method == "bottom-to-top":
      i = 1
  # construct the list of bounding boxes and sort them from top to
  # bottom
  boundingBoxes = [cv2.boundingRect(c) for c in cnts]
  (cnts, boundingBoxes) = zip(*sorted(zip(cnts, boundingBoxes),
  key=lambda b:b[1][i], reverse=reverse))
  # return the list of sorted contours and bounding boxes
  return (cnts, boundingBoxes)

def find_vertical_horizontal(img, img_bin):

  kernel_len = np.array(img).shape[1]//100
  ver_kernel = cv2.getStructuringElement(cv2.MORPH_RECT, (1, kernel_len))
  hor_kernel = cv2.getStructuringElement(cv2.MORPH_RECT, (kernel_len, 1))
  kernel = cv2.getStructuringElement(cv2.MORPH_RECT, (2, 2))
  image_1 = cv2.erode(img_bin, ver_kernel, iterations=3)
  vertical_lines = cv2.dilate(image_1, ver_kernel, iterations=6)
  
  image_2 = cv2.erode(img_bin, hor_kernel, iterations=3)
  horizontal_lines = cv2.dilate(image_2, hor_kernel, iterations=25)
  horizontal_lines = cv2.erode(horizontal_lines,hor_kernel,iterations = 20)
  
  img_vh = cv2.addWeighted(vertical_lines, 0.5, horizontal_lines, 0.5, 0.0)
  img_vh = cv2.erode(~img_vh, kernel, iterations=2)
  thresh, img_vh = cv2.threshold(img_vh,128,255, cv2.THRESH_BINARY | cv2.THRESH_OTSU)
  return img_vh

def process(file):
  #Step 1
  imgOrig = cv2.imread(file)
  img = cv2.imread(file,0)
  thresh,img_bin = cv2.threshold(img,128,255,cv2.THRESH_BINARY |cv2.THRESH_OTSU)
  #inverting the image 
  img_bin = 255-img_bin

  #Step 2
  table_img = find_vertical_horizontal(img, img_bin)
  #cv2_imshow(table_img)

  #Step 3
  contours, hierarchy = cv2.findContours(table_img, cv2.RETR_TREE, cv2.CHAIN_APPROX_SIMPLE)
    # Sort all the contours by top to bottom.
  contours, boundingBoxes = sort_contours(contours, method="top-to-bottom")

  #Creating a list of heights for all detected boxes
  heights = [boundingBoxes[i][3] for i in range(len(boundingBoxes))]
  #Get mean of heights
  mean = np.mean(heights)

  box = []
  crop_img = []
  # Get position (x,y), width and height for every contour and show the contour on image
  for c in contours:
      x, y, w, h = cv2.boundingRect(c)
      if (h>10):
          image = cv2.rectangle(img,(x,y),(x+w,y+h),(0,255,0),2)
          box.append([x,y,w,h])
          crop_im = imgOrig[y:y+h,x:x+w]
          #cv2.namedWindow("crop image",cv2.WINDOW_NORMAL)
          #cv2_imshow(crop_im)
          crop_img.append(crop_im)
          #cv2.waitKey(0)    
  #cv2_imshow(image)
  return crop_img, box

In [ ]:
img_path = "/content/Ashok-10002972_02.pdfpage_1.JPEG"
#for img_path in glob.glob("*.JPEG"):
crop_imgs, box = process(img_path)

##Text detctor and reconization network

In [ ]:
!git clone https://github.com/dipu-bd/craft-moran-ocr.git
!mv craft-moran-ocr/* .

Cloning into 'craft-moran-ocr'...
remote: Enumerating objects: 77, done.
remote: Counting objects: 100% (77/77), done.
remote: Compressing objects: 100% (59/59), done.
remote: Total 77 (delta 22), reused 63 (delta 12), pack-reused 0
Unpacking objects: 100% (77/77), done.

In [ ]:
!bash init.sh

mkdir: created directory 'data'

--------- DOWNLOADING TRAINED DATA FOR CRAFT ------------
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   388    0   388    0     0    203      0 --:--:--  0:00:01 --:--:--   203
100 79.3M    0 79.3M    0     0  13.0M      0 --:--:--  0:00:06 --:--:-- 19.1M
craft_mlt_25k.pth | 2f8227d2def4037cdb3b34389dcf9ec1 | verified

---------- DOWNLOADING REFINER DATA FOR CRAFT -----------
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   388    0   388    0     0    699      0 --:--:-- --:--:-- --:--:--   700
100 1810k  100 1810k    0     0  1981k      0 --:--:-- --:--:-- --:--:-- 12.1M
craft_refiner_CTW1500.pth | 3d48f83540567d2a43d2f6ca4b4d9f13 | verified

---------- DOWNLOADING TRAINED DATA FOR MORAN -----------
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   388    0   388    0     0     93      0 --:--:--  0:00:04 --:--:--    93
100 77.7M    0 77.7M    0     0  14.6M      0 --:--:--  0:00:05 --:--:--  164M
moran_v2_demo.pth | f1417448c934db65572f9fc261e18f09 | verified


---------- INSTALL PIP REQUIREMENTS -----------
ERROR: Invalid requirement: 'numpy=1.18.1' (from line 9 of requirements.txt)
Hint: = is not a valid operator. Did you mean == ?

READY!

In [ ]:
from src.recognizer import Recognizer
from src.detector import Detector

#Load the model for Text detection and recognization
detector = Detector()
detector.load()
recognizer = Recognizer()
recognizer.load()

/usr/local/lib/python3.6/dist-packages/torch/nn/modules/rnn.py:50: UserWarning: dropout option adds dropout after all but last recurrent layer, so non-zero dropout expects num_layers greater than 1, but got dropout=0.3 and num_layers=1
  "num_layers={}".format(dropout, num_layers))

Loading pretrained model from /content/data/moran_v2_demo.pth

In [ ]:
!pip install colour
!sudo apt install tesseract-ocr
!pip install pytesseract

Collecting colour
  Downloading https://files.pythonhosted.org/packages/74/46/e81907704ab203206769dee1385dc77e1407576ff8f50a0681d0a6b541be/colour-0.1.5-py2.py3-none-any.whl
Installing collected packages: colour
Successfully installed colour-0.1.5
Reading package lists... Done
Building dependency tree
Reading state information... Done
The following package was automatically installed and is no longer required:
  libnvidia-common-440
Use 'sudo apt autoremove' to remove it.
The following additional packages will be installed:
  tesseract-ocr-eng tesseract-ocr-osd
The following NEW packages will be installed:
  tesseract-ocr tesseract-ocr-eng tesseract-ocr-osd
0 upgraded, 3 newly installed, 0 to remove and 33 not upgraded.
Need to get 4,795 kB of archives.
After this operation, 15.8 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic/universe amd64 tesseract-ocr-eng all 4.00~git24-0e00fe6-1.2 [1,588 kB]
Get:2 http://archive.ubuntu.com/ubuntu bionic/universe amd64 tesseract-ocr-osd all 4.00~git24-0e00fe6-1.2 [2,989 kB]
Get:3 http://archive.ubuntu.com/ubuntu bionic/universe amd64 tesseract-ocr amd64 4.00~git2288-10f4998a-2 [218 kB]
Fetched 4,795 kB in 2s (2,636 kB/s)
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 76, <> line 3.)
debconf: falling back to frontend: Readline
debconf: unable to initialize frontend: Readline
debconf: (This frontend requires a controlling tty.)
debconf: falling back to frontend: Teletype
dpkg-preconfigure: unable to re-open stdin:
Selecting previously unselected package tesseract-ocr-eng.
(Reading database ... 144379 files and directories currently installed.)
Preparing to unpack .../tesseract-ocr-eng_4.00~git24-0e00fe6-1.2_all.deb ...
Unpacking tesseract-ocr-eng (4.00~git24-0e00fe6-1.2) ...
Selecting previously unselected package tesseract-ocr-osd.
Preparing to unpack .../tesseract-ocr-osd_4.00~git24-0e00fe6-1.2_all.deb ...
Unpacking tesseract-ocr-osd (4.00~git24-0e00fe6-1.2) ...
Selecting previously unselected package tesseract-ocr.
Preparing to unpack .../tesseract-ocr_4.00~git2288-10f4998a-2_amd64.deb ...
Unpacking tesseract-ocr (4.00~git2288-10f4998a-2) ...
Setting up tesseract-ocr-osd (4.00~git24-0e00fe6-1.2) ...
Setting up tesseract-ocr-eng (4.00~git24-0e00fe6-1.2) ...
Setting up tesseract-ocr (4.00~git2288-10f4998a-2) ...
Processing triggers for man-db (2.8.3-2ubuntu0.1) ...
Collecting pytesseract
  Downloading https://files.pythonhosted.org/packages/1d/d8/521db389ff0aae32035bfda6ed39cb2c2e28521c47015f6431f07460c50a/pytesseract-0.3.4.tar.gz
Requirement already satisfied: Pillow in /usr/local/lib/python3.6/dist-packages (from pytesseract) (7.0.0)
Building wheels for collected packages: pytesseract
  Building wheel for pytesseract (setup.py) ... done
  Created wheel for pytesseract: filename=pytesseract-0.3.4-py2.py3-none-any.whl size=13431 sha256=5b6d163cebb7075ba652f16019db929f0b6d7e03c4e935d73ec54d6176308ded
  Stored in directory: /root/.cache/pip/wheels/63/2a/a0/7596d2e0a73cf0aeffd6f6170862c4e73f3763b7827e48691a
Successfully built pytesseract
Installing collected packages: pytesseract
Successfully installed pytesseract-0.3.4

In [ ]:
import pytesseract
import warnings
warnings.filterwarnings('ignore')

In [ ]:

def text_detection_recognition(crop_imgs, box):
  info = list()
  for img, bb in zip(crop_imgs, box):
      ocr_flag = 0
      h, w,_ = img.shape
      #cv2_imshow(img)
      crop_imgs,_,_,_ = detector.process(img)
      result = ''
      for im in crop_imgs:
          try:
            #cv2_imshow(im)
            gray = cv2.cvtColor(im, cv2.COLOR_BGR2GRAY)
            text, _, _ = recognizer.process(gray)
            result += text
            result += ' '
          except Exception as ex:
            print(ex)
      flag = 1
      print(result)
      if flag == 1:
        extractedInformation = pytesseract.image_to_string(img)
        crop_imgs,_,_,_ = detector.process(img)
        if len(crop_imgs):
          info.append([result,bb,extractedInformation])
          print(result,bb,h*w)
  return info

img_path = "/content/V-GGN-000740.pdfpage_1.JPEG"
crop_imgs, box = process(img_path)
info = text_detection_recognition(crop_imgs, box)

gst registration no osaaaci5950l 12g shipment from itc limited sbu packaging a printing products factory plot noi 1 sector mesidcul haridwar249403 uttarakhand india telephone 911334304701
gst registration no osaaaci5950l 12g shipment from itc limited sbu packaging a printing products factory plot noi 1 sector mesidcul haridwar249403 uttarakhand india telephone 911334304701  [2943, 0, 2809, 599] 1682591
itc limited sbut packaging x printing products factory plot no 7 sector illibsideul haridwar249403 uttarakhand india telephone 911334304701 enduring lister allot pan aaaci5950l
itc limited sbut packaging x printing products factory plot no 7 sector illibsideul haridwar249403 uttarakhand india telephone 911334304701 enduring lister allot pan aaaci5950l  [116, 0, 2823, 605] 1707915



tax invoice under rule of thei tax invoice credit and debit notes rules 20171 original for recepient
tax invoice under rule of thei tax invoice credit and debit notes rules 20171 original for recepient  [120, 603, 5632, 354] 1993728


gst invoice no hosa2181013003210 invoice date 31012018 sap doc no 9027745 document currency inr
gst invoice no hosa2181013003210 invoice date 31012018 sap doc no 9027745 document currency inr  [4347, 957, 1405, 704] 989120
bill to place of supply name tata global beverages ltd sampla plantpackaging center address cio sfs global ltd samplaberi road ismallia 11 bishwa tehsilsampla district rohtak india124517 state 8 state code sender haryana x 06 gstin osaaccoockize pani aabcto6002k
bill to place of supply name tata global beverages ltd sampla plantpackaging center address cio sfs global ltd samplaberi road ismallia 11 bishwa tehsilsampla district rohtak india124517 state 8 state code sender haryana x 06 gstin osaaccoockize pani aabcto6002k  [2285, 957, 2058, 706] 1452948
ship to name tata global beverages ltd sampla plantipackaging center address cla sfs global ltd samplaiberi road ismallia 11 bishwa tehsilsampla district rohtak india124517 state 8 state code haryana 2 06 gstin osaaccoock21zp pan aabcto602k
ship to name tata global beverages ltd sampla plantipackaging center address cla sfs global ltd samplaiberi road ismallia 11 bishwa tehsilsampla district rohtak india124517 state 8 state code haryana 2 06 gstin osaaccoock21zp pan aabcto602k  [124, 959, 2157, 707] 1524999


total amount
total amount  [5368, 1666, 384, 258] 99072
tcs
tcs  [5131, 1666, 229, 258] 59082
total gst amount
total gst amount  [4739, 1666, 388, 258] 100104
igst amount
igst amount  [4410, 1666, 325, 258] 83850
igst rate co
igst rate co  [4150, 1666, 254, 258] 65532
taxable value
taxable value  [3793, 1666, 352, 258] 90816
pack q ins
pack q ins  [3498, 1666, 289, 260] 75140
freight
freight  [3179, 1668, 310, 258] 79980
net value
net value  [2898, 1668, 274, 260] 71240
OpenCV(4.1.2) /io/opencv/modules/imgproc/src/color.cpp:182: error: (-215:Assertion failed) !_src.empty() in function 'cvtColor'

rate
rate  [2625, 1668, 268, 260] 69680
qty
qty  [2285, 1668, 333, 261] 86913
uom
uom  [2127, 1670, 154, 260] 40040
no i of packages
no i of packages  [1868, 1670, 252, 260] 65520
OpenCV(4.1.2) /io/opencv/modules/imgproc/src/color.cpp:182: error: (-215:Assertion failed) !_src.empty() in function 'cvtColor'

material no i cust order no
material no i cust order no  [1374, 1670, 490, 260] 127400
part noddssription
part noddssription  [427, 1672, 943, 260] 245180
hsn code description
hsn code description  [129, 1672, 291, 260] 75660


170029286
170029286  [5368, 1930, 384, 256] 98304
o 00
o 00  [5131, 1930, 229, 259] 59311
25937 00
25937 00  [4741, 1930, 386, 259] 99974
2593700
2593700  [4410, 1930, 325, 259] 84175
18
18  [4152, 1930, 252, 259] 65268
1440925 i 36
1440925 i 36  [3793, 1930, 352, 259] 91168
0 00 000
0 00 000  [3497, 1932, 290, 257] 74530
o 00
o 00  [3179, 1932, 312, 259] 80808
1440925 8 6
1440925 8 6  [2899, 1932, 273, 259] 70707
195240
195240  [2624, 1932, 271, 259] 70189
7380 i 280
7380 i 280  [2287, 1932, 333, 261] 86913
kg
kg  [2129, 1934, 152, 259] 39368
319
319  [1870, 1934, 252, 259] 65268
450037068
450037068  [1377, 1935, 489, 260] 127140
120071890003 tp green 250g pouch alarm jaagore
120071890003 tp green 250g pouch alarm jaagore  [429, 1935, 943, 260] 245180
39219096 flexible packaging
39219096 flexible packaging  [131, 1936, 291, 259] 75369





170029286
170029286  [5368, 2810, 384, 193] 74112
o 00
o 00  [5131, 2810, 231, 193] 44583
2596700
2596700  [4741, 2810, 386, 193] 74498
2596700
2596700  [4412, 2810, 325, 193] 62725

1440925 86
1440925 86  [3795, 2812, 352, 193] 67936
o 00
o 00  [3500, 2812, 289, 193] 55777
o 00
o 00  [3181, 2814, 314, 191] 59974
1440925 to 6
1440925 to 6  [2904, 2814, 271, 191] 51761




total
total  [135, 2816, 1735, 194] 336590


whether tax is payable on reverse charge basis na
whether tax is payable on reverse charge basis na  [4131, 3008, 1621, 195] 316095

total invoice amount in words rupees seventeen lakhs two hundred and ninety two and eighty six paisa only total gst amount in words rupees two lakhs fifty nine thousand three hundred and sixty seven only
total invoice amount in words rupees seventeen lakhs two hundred and ninety two and eighty six paisa only total gst amount in words rupees two lakhs fifty nine thousand three hundred and sixty seven only  [135, 3010, 3571, 195] 696345




itc limited xii merady authorized signatory
itc limited xii merady authorized signatory  [4341, 3206, 1411, 447] 630717



payment terms
payment terms  [1706, 3208, 1998, 95] 189810
transporter name calcutta express transport service mode of transportation and fuil truck vehicle no and hr55m9129 lr number sender 392057 lr date sender 31012018
transporter name calcutta express transport service mode of transportation and fuil truck vehicle no and hr55m9129 lr number sender 392057 lr date sender 31012018  [135, 3212, 1567, 448] 702016



i e is
i e is  [3710, 3304, 308, 351] 108108
remarks
remarks  [1708, 3305, 1994, 355] 707870

divisional hqj 1195 marys road abhirama puram chennail 60001 ph 0044 4208 506 1507 1509 fax 044 reverse for genereal conditions of sale fmcgi hotels paper boards 81 packaging agri business infor regd road kolkata 70007 visit us at ww itci com corporate deni 2 ogy off virginia house 3771 nehru india portal d5wb1910pl c001985 email rackexcellenceiccin page of
divisional hqj 1195 marys road abhirama puram chennail 60001 ph 0044 4208 506 1507 1509 fax 044 reverse for genereal conditions of sale fmcgi hotels paper boards 81 packaging agri business infor regd road kolkata 70007 visit us at ww itci com corporate deni 2 ogy off virginia house 3771 nehru india portal d5wb1910pl c001985 email rackexcellenceiccin page of  [0, 3658, 5846, 476] 2782696
2
2  [4020, 3660, 98, 283] 27734
OpenCV(4.1.2) /io/opencv/modules/imgproc/src/color.cpp:182: error: (-215:Assertion failed) !_src.empty() in function 'cvtColor'

can 19
can 19  [3706, 3660, 306, 281] 85986

##Filter out Tables from that

In [ ]:
# -*- coding: utf-8 -*-
"""
Created on Sun Jun 28 19:18:06 2020

@author: shefali.jain
"""

import os
import numpy as np
import pandas as pd
from scipy import stats
from collections import OrderedDict
#filename="datapoint.txt"
#
#with open(filename) as fp:
#    lines=fp.readlines()
    
    
datapoint=[['slno 0 ', [202, 1289, 336, 127], 'SL.NO.'], ['item descriptions ', [548, 1290, 1587, 142], 'ITEM DESCRIPTIONS'], ['hsn code ', [2146, 1309, 541, 130], 'HSN CODE'], ['qtykg ', [2698, 1315, 409, 129], 'QTY./Kg.'], ['rate ', [3118, 1321, 454, 128], 'RATE\ni Ra aig'], ['amount ', [3582, 1326, 416, 126], 'AMOUNT'], ['baby corn ', [547, 1427, 1587, 93], 'BABY CORN'], ['10059000 ', [2146, 1445, 539, 82], '10059000 —'], ['050 ', [2698, 1451, 408, 81], '0.50'], ['7000 ', [3118, 1457, 452, 80], '70.00'], ['3500 ', [3582, 1462, 415, 77], '35.00'], ['2 ', [199, 1514, 336, 74], ''], ['brocolli wo steam ', [546, 1515, 1586, 91], 'BROCOLLI W/O STEAM\n\nCe\n\na'], ['300 ', [2697, 1539, 407, 78], ''], ['12000 ', [3117, 1544, 450, 78], '120.00'], ['360 00 ', [3580, 1550, 416, 74], '360.00'], ['3 ', [198, 1599, 335, 75], ''], ['capsicum red ', [546, 1601, 1586, 91], 'CAPSICUM RED'], ['07096090 ', [2144, 1619, 540, 80], '07096090'], ['010 ', [2696, 1626, 407, 78], 'aS'], ['11000 ', [3115, 1630, 451, 78], ''], ['11 00 ', [3579, 1636, 416, 75], '11.00'], ['4 ', [197, 1685, 336, 75], ''], ['capsicum yellow ', [544, 1687, 1587, 91], 'CAPSICUM YELLOW'], ['07096090 ', [2142, 1705, 540, 80], '07096090'], ['010 ', [2695, 1712, 407, 77], ''], ['11000 ', [3114, 1717, 451, 78], '110.00'], ['11 00 ', [3576, 1722, 417, 75], '11.00'], ['51 ', [196, 1771, 337, 76], ''], ['lettuce iceburg ', [544, 1773, 1586, 92], 'LETTUCE ICEBURG'], ['07051900 ', [2142, 1791, 540, 81], '07051900'], ['050 ', [2694, 1798, 407, 78], '0.50 —'], ['8000 ', [3113, 1803, 450, 79], '~ 80.00'], ['4000 ', [3575, 1808, 415, 76], '40.00'], ['lettuce green ', [544, 1859, 1585, 92], 'LETTUCE GREEN'], ['07051900 ', [2140, 1877, 540, 81], '07051900'], ['040 ', [2692, 1885, 408, 79], '0.40 —'], ['9000 ', [3112, 1890, 448, 78], '90.00'], ['361 00 ', [3573, 1895, 415, 76], '36.00'], ['lettuce lolorosa ', [543, 1946, 1585, 93], 'LETTUCE LOLOROSA'], ['07051900 ', [2139, 1965, 540, 81], '07051900'], ['040 ', [2691, 1971, 409, 80], '0.40'], ['100 00 ', [3111, 1976, 447, 79], '100.00'], ['4000 ', [3571, 1982, 415, 76], '40.00'], ['mashroom fresh ', [542, 2033, 1585, 94], 'MASHROOM FRESH'], ['07095100 ', [2138, 2051, 540, 83], '07095100'], ['2 a 00 ', [2690, 2058, 409, 81], '2.00'], ['11000 ', [3110, 2064, 447, 80], 'eee yy'], ['22000 ', [3568, 2069, 416, 77], '220.00'], ['red radish ', [541, 2121, 1585, 93], 'RED RADISH'], ['07069020 ', [2137, 2139, 540, 82], '07069020'], ['020 ', [2689, 2146, 410, 80], '0.20'], ['401 00 ', [3109, 2151, 448, 80], '~ 40.00.'], ['800 ', [3568, 2157, 416, 76], ''], ['10 ', [189, 2207, 339, 77], ''], ['beans pencil ', [539, 2209, 1587, 93], 'BEANS PENCIL rere'], ['07082000 ', [2136, 2227, 541, 83], '07082000'], ['200 ', [2688, 2234, 411, 81], ''], ['3700 ', [3109, 2240, 448, 80], '37.00'], ['7400 ', [3568, 2245, 415, 77], ''], ['rimarks total qty 9 20 total amt a 8351 00 ', [187, 2307, 3797, 203], 'Rrmarks_: y Total Qty.: 9.20 Total Amt: 835.00\npte alae lene a a'], ['re ', [3751, 2865, 229, 117], '']]

   
#datapoint=[['slno ', [250, 1249, 341, 129], 'SL.NO.'], ['item descriptions ', [601, 1253, 1590, 159], 'â€œAst man raroaeonrnrerereex._ â€œi _\n\nITEM DESCRIPTIONS'], ['hsn code ', [2201, 1287, 542, 136], 'HSN CODE'], ['qtykg ', [2754, 1299, 410, 133], 'QTY /Kg.'], ['rate ', [3176, 1309, 450, 132], 'RATE'], ['amount ', [3636, 1318, 418, 126], 'AMOUNT'], ['baby corn ', [601, 1391, 1588, 109], 'nite raAaAn+ 2) h (Sh rrsS Fk â€” rr\n_ BABY CORN _'], ['10059000 ', [2200, 1425, 541, 87], '10059000'], ['050 ', [2753, 1437, 410, 84], '0.50'], ['70 00 ', [3175, 1446, 450, 84], '70.00'], ['35 00 ', [3636, 1455, 414, 77], '35.00'], ['brocolli wo steam wiv ', [599, 1480, 1588, 105], '; BROCOLLI W W/O STEAM'], ['07041000 ', [2199, 1513, 540, 83], '07041000'], ['the ', [2751, 1525, 410, 81], 'E\n\nUk'], ['12000 ', [3174, 1534, 449, 81], '120.00'], ['1200 00 ', [3636, 1544, 411, 73], '1200.00'], ['010 ', [2750, 1610, 410, 81], 'ae) ow'], ['10000 ', [3172, 1619, 448, 82], '-+00:00-'], ['capsicum red ', [596, 1650, 1587, 106], 'SCAPSICUMEED . = tâ€”t~â€”CSSS\nessences...'], ['07096090 ', [2195, 1684, 541, 84], '07096090 |'], ['010 ', [2749, 1696, 407, 81], '0.10'], ['capsicum yellow ', [595, 1737, 1587, 106], 'CAPSICUM YELLOW #22'], ['07096090 ', [2193, 1770, 542, 85], '07096090'], ['010 ', [2747, 1783, 407, 81], '0.10'], ['11 00 ', [3624, 1802, 418, 74], '11.00'], ['07094000 ', [2191, 1857, 541, 86], '07094000'], ['lettuce iceburg yovi ', [594, 1912, 1584, 106], '_LETTUCEICEBURG â€”(stâ€”=~wC a)'], ['07051900 ', [2190, 1945, 541, 86], '07051900'], ['050 ', [2744, 1958, 408, 82], '\\\\ oY q O56"'], ['8000 ', [3164, 1967, 447, 82], '80.00'], ['4000 ', [3623, 1977, 415, 75], '~ 40.00'], ['mashroom fresh ', [590, 2000, 1585, 107], '* MASHROOM FRESH\nESN'], ['07095100 ', [2188, 2033, 540, 87], '07095100'], ['300 ', [2741, 2045, 408, 84], '3.00'], ['11000 ', [3162, 2055, 448, 84], 'GH'], ['33000 ', [3621, 2065, 415, 76], '330.00'], ['07007070 ', [2186, 2156, 540, 51], 'VIVOFVULY'], ['10 ', [235, 2174, 337, 77], 'a'], ['snow peas imp ', [585, 2175, 1587, 109], 'PSNOWPEASIMP. ='], ['07099090 ', [2184, 2210, 541, 86], '07099090'], ['020 ', [2737, 2222, 410, 82], '0.20'], ['25000 ', [3158, 2231, 450, 83], 'â€” 250.00'], ['spring onion ', [583, 2265, 1588, 106], 'aNCONON.  .'], ['07039000 ', [2182, 2297, 541, 87], '07039000'], ['100 ', [2735, 2310, 411, 82], '1.00'], ['apple red delicious imp ', [580, 2353, 1589, 105], 'â€œ APP\n\nLE RED DELICIOUS IMP.'], ['08081000 ', [2181, 2385, 541, 85], '08081000'], ['1 00 ', [2734, 2397, 411, 82], '1.00'], ['16060 ', [3157, 2406, 448, 82], '160.50'], ['16000 ', [3617, 2416, 418, 77], '160.00'], ['orange imp ', [578, 2439, 1589, 105], '_ ORANGE IMP.'], ['08051000 ', [2179, 2471, 541, 85], '08051000'], ['3 00 ', [2732, 2484, 410, 81], 'eae Ki'], ['95 o 00 ', [3154, 2493, 451, 82], '95.00'], ['285 00 ', [3615, 2502, 417, 76], '285.00'], ['beans pencil ', [577, 2525, 1590, 107], '~ BEANS PENCIL'], ['07082000 ', [2177, 2557, 543, 88], '07082000'], ['2 o 00 ', [2730, 2570, 412, 83], '2.00'], ['7400 ', [3615, 2589, 415, 78], 'Lee'], ['rrmarks judy 1400 total qty 2190 total amt 2278 00 ', [226, 2623, 3802, 234], 'Rrmarks\n\nTotal Qty.: 21.90 Total Amt.: 2278.00'], ['calve ', [2920, 3197, 190, 109], 'CA WV.']]
def restructureDataPoints(datapoint):
    """ take list of list data point as an input"""
    crnnNetwork=[]
    ocrouput=[]
    x1cor,y1cor,height,width,x2cor,y2cor=[[] for i in range(6)]
    for dpoints in datapoint:
        #data=dpoints.split(",")
        crnnNetwork.append(dpoints[0])
        x1,y1,h,w=dpoints[1]
        ocrouput.append(dpoints[2])
        x1cor.append(x1)
        y1cor.append(y1)
        height.append(h)
        width.append(w)
        x2cor.append(x1+w)
        y2cor.append(y1+h)
    
    datapointsfortables=pd.DataFrame()
    datapointsfortables['CrnnNetworkOutput']=crnnNetwork
    datapointsfortables['ocrOutput']=ocrouput
    datapointsfortables['x1cor']=x1cor
    datapointsfortables['x2cor']=x2cor
    datapointsfortables['y1cor']=y2cor
    datapointsfortables['y2cor']=y1cor
    datapointsfortables['height']=height
    datapointsfortables['width']=width
    return datapointsfortables
#datapointsfortables['x1cor']=x1cor
def sortDataFrame(df):
    sortedDatapoints=df.sort_values(by=['y2cor', 'x1cor'],ascending=[True,True])
    return sortedDatapoints

##get the potential line breaker
def getPotentialLineData(sortedDatapoints):
    z = np.abs(stats.zscore(sortedDatapoints['height']))
    #print(z)
    #outlier threshold
    #threshold = 1
    indexs=np.where(z > 1)[0].tolist()
    linesData=[]
    
    outlier_index = np.where(z > 2)[0].tolist()

    i=indexs[0]
    for lbreak in range(1,len(indexs)):
        j=indexs[lbreak]
        tdf=sortedDatapoints.iloc[i:j,:] 
        linesData.append(tdf)
        i=j
    return linesData, outlier_index
    

##find column data
def find_nearest(array, value):
    array = np.asarray(array)
    idx = (np.abs(array - value)).argmin()
    return array[idx]

#find_nearest(linesData[0]['x1cor'] ,3164)
def findDfwithMaxElements(linesData):
#find the df which have maximum no of elements
    lineWithlengthDict=OrderedDict() 
    for idx, df in enumerate(linesData):
        lineWithlengthDict[idx]=df.shape[0]
    
    Keymax = max(lineWithlengthDict, key=lineWithlengthDict.get)
    return Keymax

def constructTable(linesData,kymax):
    intislDf=linesData[kymax]
    area_dict = dict(zip(intislDf['x1cor'], intislDf['CrnnNetworkOutput']))
    finalDict={}
    finalDict['lineNo']=[0]
    for orgKy in area_dict:
        finalDict[orgKy]=[area_dict[orgKy]]
        
    #firstRowlength=len(finalDict.keys()) 
    linebyLineDict={} 
    linebyLineDict[0]=area_dict
    
    
    for idx,dfs in enumerate(linesData):
        temp={}
        t_dict = dict(zip(dfs['x1cor'], dfs['CrnnNetworkOutput']))
        #tdictlength=len(t_dict.keys())
        for ky in t_dict.keys():
            nearest=find_nearest(list(area_dict.keys()),ky)
            temp[nearest]=t_dict[ky]
        linebyLineDict[idx+1]=temp
        
    resultDataFrame1=pd.DataFrame.from_dict(linebyLineDict).transpose()
    return resultDataFrame1

def getTable(datapoint):
    tablepoints=restructureDataPoints(datapoint)
    sortedTablePoints=sortDataFrame(tablepoints)
    lineData,_ =getPotentialLineData(sortedTablePoints)
    kyidx=findDfwithMaxElements(lineData)
    table=constructTable(lineData,kyidx)
    return table
    
display(getTable(info))

                                                124   ...                                               4131
0  ship to name tata global beverages ltd sampla ...  ...  whether tax is payable on reverse charge basis...
1  itc limited sbut packaging x printing products...  ...                                                NaN
2                                                NaN  ...                                                NaN
3  tax invoice under rule of thei tax invoice cre...  ...                                                NaN
4  ship to name tata global beverages ltd sampla ...  ...  whether tax is payable on reverse charge basis...
5                                                NaN  ...                                                NaN

[6 rows x 35 columns]

In [ ]:
tablepoints=restructureDataPoints(info)
sortedTablePoints=sortDataFrame(tablepoints)
lineData,z_indexes =getPotentialLineData(sortedTablePoints)
print(z_indexes)

[2, 48, 54]

In [ ]:
#First pass get all the info about the table
#Second remove the bigger one
#Third now for the bigger again the same flow has to be pass into
#Then combine everything in the multiple list
def crop_text_detection(img):
  crop_imgs,boxes,_,_ = detector.process(img)
  rects = list()
  for box in boxes:
      poly = np.array(box).astype(np.int32)
      y0, x0 = np.min(poly, axis=0)
      y1, x1 = np.max(poly, axis=0)
      rects.append([x0, y0, x1, y1])

  full_text = ''
  result = list()
  for indx,rect in enumerate(rects):
    try:
      x0,y0,x1,y1 = rect
      crop_img = img[x0:x1, y0:y1]
      #crop_img = img[y0:y1, x0:x1, :]
      gray = cv2.cvtColor(crop_img, cv2.COLOR_BGR2GRAY)
      text, _, _ = recognizer.process(gray)
      ocr_text = pytesseract.image_to_string(crop_img)
      result.append([text,[y0,x0,y1-y0,x1-x0],ocr_text])
      full_text += text
      full_text += ' '
    except Exception as ex:
      print(ex)

  return result

In [ ]:
final_info = list()
indexes_to_remove = z_indexes
other_list = list()
#img_path = "/content/Ashok-10002972.pdfpage_1.JPEG"
img = cv2.imread(img_path)
for indx,im in enumerate(info):
  if indx in indexes_to_remove:
    #Write the crop and pass the path
    bb = im[1]
    crop_img = img[bb[1]:bb[1]+bb[3],bb[0]:bb[0]+bb[2],:]
    new_info = crop_text_detection(crop_img)
    final_info.append(new_info)
  else:
    other_list.append(im)

final_info.append(other_list)
for info in final_info:
  display(getTable(info))

   2499     2596     2807 2992   3097   3247   3414   1927   3599
0   tax  invoice   credit  and  debit  notes  rules  under  20171
1   NaN      tax  invoice  NaN    NaN    NaN    NaN   rule    NaN
2    of      NaN      NaN  NaN    NaN    NaN    NaN    NaN    NaN
3  thei      NaN      NaN  NaN    NaN    NaN    NaN    NaN    NaN
4   tax  invoice   credit  and  debit  notes  rules  under  20171
5   NaN      NaN      NaN  NaN    NaN    NaN    NaN    NaN    for

      1813   3046   2591    1514   11       156
0  hundred   only  sixty   fifty  total      gst
1      NaN  paisa    six     NaN    NaN  invoice
2      NaN    NaN    NaN     NaN    NaN   amount
3      NaN    NaN    NaN  rupees    NaN    words
4      NaN    NaN    NaN   lakhs    NaN      NaN
5  hundred   only  sixty   fifty  total      gst
6      NaN    NaN    NaN    nine    NaN   amount
7    three    NaN    NaN     NaN    NaN      NaN
8      NaN    NaN  seven     NaN    NaN      NaN

                   4950        639  812   ...      2073    2265   2438
0   rackexcellenceiccin        regd  off  ...     70007   india  visit
1            conditions         NaN  NaN  ...       NaN     NaN    NaN
2                  sale  divisional  NaN  ...  chennail   60001    NaN
3               reverse         NaN  NaN  ...     paper  boards   4208
4                   NaN         NaN  NaN  ...       NaN     NaN     81
5                   NaN         NaN  NaN  ...       NaN     NaN   agri
6                   ogy         NaN  NaN  ...       NaN     NaN  infor
7                     2         NaN  NaN  ...       NaN     NaN    NaN
8                 email         NaN  NaN  ...       NaN     NaN    NaN
9   rackexcellenceiccin        regd  off  ...     70007   india  visit
10                  NaN         NaN  NaN  ...       NaN     NaN     at
11                  NaN         NaN  NaN  ...       NaN     NaN    com
12                  NaN         NaN  NaN  ...       NaN     NaN   deni
13                 page         NaN  NaN  ...       NaN     NaN     ww

[14 rows x 12 columns]

                                                 124   ...   3181
0   ship to name tata global beverages ltd sampla ...  ...  o 00
1   itc limited sbut packaging x printing products...  ...    NaN
2                                                 NaN  ...    NaN
3                                                 NaN  ...    NaN
4                                                 NaN  ...    NaN
5   ship to name tata global beverages ltd sampla ...  ...  o 00
6                                                 NaN  ...    NaN
7                                                 NaN  ...    NaN
8                                                 NaN  ...    NaN
9                                                 NaN  ...    NaN
10                                                NaN  ...    NaN

[11 rows x 33 columns]

In [ ]:
print(final_info)

[[['invoice', [2763, 26, 264, 62], ''], ['tax', [2631, 35, 123, 53], ''], ['rule', [2120, 123, 132, 53], 'RULE'], ['of', [2323, 123, 70, 53], 'OF'], ['thei', [2402, 123, 97, 53], 'THE'], ['tax', [2499, 123, 97, 53], 'TAX'], ['invoice', [2596, 123, 193, 53], 'INVOICE'], ['credit', [2807, 123, 176, 53], 'CREDIT'], ['and', [2992, 123, 105, 53], 'AND'], ['debit', [3097, 123, 150, 53], 'DEBIT'], ['notes', [3247, 123, 167, 53], 'NOTES'], ['rules', [3414, 123, 167, 53], 'RULES,'], ['under', [1927, 132, 193, 44], '{UNDER'], ['20171', [3599, 132, 123, 44], ''], ['original', [4910, 281, 264, 53], ''], ['for', [5192, 281, 123, 53], 'FOR'], ['recepient', [5324, 281, 299, 53], '']], [['total', [11, 33, 139, 56], 'Total'], ['two', [1690, 33, 112, 56], 'Two'], ['and', [2058, 33, 106, 56], 'and'], ['ninety', [2174, 31, 177, 65], 'Ninety'], ['two', [2357, 31, 123, 60], 'Two'], ['and', [2482, 33, 106, 56], 'and'], ['eighty', [2600, 33, 173, 61], 'Eighty'], ['six', [2778, 33, 95, 56], 'Six'], ['paisa', [2884, 33, 151, 56], 'Paisa'], ['invoice', [156, 39, 201, 50], 'Invoice'], ['amount', [373, 39, 212, 50], 'Amount'], ['in', [602, 39, 61, 50], ''], ['words', [669, 39, 173, 50], 'words'], ['rupees', [998, 39, 207, 55], 'Rupees'], ['seventeen', [1216, 39, 284, 50], 'Seventeen'], ['lakhs', [1512, 39, 167, 50], 'Lakhs'], ['hundred', [1813, 39, 234, 50], 'Hundred'], ['only', [3046, 39, 117, 55], ''], ['total', [11, 117, 139, 55], 'Total'], ['gst', [156, 117, 117, 55], 'GST'], ['amount', [290, 117, 217, 55], 'Amount'], ['two', [1216, 117, 117, 55], 'Two'], ['fifty', [1514, 115, 129, 65], 'Fifty'], ['nine', [1651, 117, 128, 55], 'Nine'], ['thousand', [1785, 117, 273, 55], 'Thousand'], ['three', [2070, 117, 156, 55], 'Three'], ['hundred', [2237, 117, 234, 55], 'Hundred'], ['and', [2477, 117, 106, 55], 'and'], ['sixty', [2591, 113, 140, 67], 'Sixty'], ['seven', [2739, 117, 173, 55], 'Seven'], ['in', [507, 122, 62, 50], ''], ['words', [580, 122, 167, 50], 'words'], ['rupees', [998, 122, 207, 56], 'Rupees'], ['lakhs', [1344, 122, 168, 50], 'Lakhs'], ['only', [2923, 122, 117, 56], 'only']], [['hqj', [886, 36, 127, 64], 'H.Q:'], ['506', [2895, 36, 101, 55], '506'], ['1507', [3032, 36, 128, 55], ''], ['1509', [3206, 36, 128, 55], ''], ['fax', [3343, 36, 109, 55], 'Fax'], ['044', [3489, 36, 146, 55], ''], ['for', [4430, 36, 100, 55], 'For'], ['genereal', [4539, 36, 238, 55], 'Genereal'], ['conditions', [4786, 36, 292, 55], 'Conditions'], ['of', [5087, 36, 64, 55], 'of'], ['sale', [5151, 36, 137, 55], 'sale)'], ['divisional', [612, 45, 246, 55], 'Divistona'], ['1195', [1023, 45, 182, 55], ':'], ['marys', [1214, 45, 183, 55], ''], ['road', [1406, 45, 146, 55], 'Road'], ['abhirama', [1561, 45, 238, 55], 'Abhiram<'], ['puram', [1817, 45, 174, 55], 'puram'], ['chennail', [2009, 45, 228, 55], 'Chennat'], ['60001', [2274, 45, 164, 55], '60001:'], ['ph', [2493, 45, 73, 46], 'Ph'], ['0044', [2575, 45, 156, 55], ''], ['4208', [2740, 45, 119, 37], ''], ['reverse', [4201, 45, 220, 46], 'Keverse'], ['fmcgi', [1662, 118, 174, 64], 'FMCG.'], ['hotels', [1863, 118, 228, 64], 'HOTELS.'], ['paper', [2119, 118, 191, 64], 'PAPER'], ['boards', [2320, 118, 246, 64], 'BOARDS'], ['81', [2575, 118, 46, 55], ''], ['packaging', [2630, 118, 338, 55], ''], ['agri', [3005, 118, 146, 55], ''], ['business', [3151, 118, 292, 55], ''], ['infor', [3471, 118, 182, 55], ''], ['ogy', [4156, 118, 128, 55], 'OGY'], ['2', [4046, 137, 55, 137], 'VOR'], ['d5wb1910pl', [4137, 200, 347, 64], 'J5WB1910PL'], ['c001985', [4484, 200, 229, 55], ''], ['email', [4740, 200, 174, 55], ''], ['rackexcellenceiccin', [4950, 200, 594, 64], 'packexcellence@itc.in'], ['regd', [639, 210, 146, 64], 'Regd.'], ['off', [812, 210, 92, 54], 'Off'], ['virginia', [940, 210, 210, 64], 'Virginia'], ['house', [1160, 210, 182, 54], 'House'], ['3771', [1351, 210, 156, 54], '37 JL'], ['nehru', [1525, 210, 164, 54], 'Nehru'], ['road', [1698, 210, 147, 54], 'Road.'], ['kolkata', [1854, 210, 210, 54], 'Kolkata'], ['70007', [2073, 210, 155, 54], ''], ['india', [2265, 210, 146, 54], 'ind\n\nla'], ['visit', [2438, 210, 128, 54], ''], ['at', [2648, 210, 55, 36], 'at'], ['itci', [2859, 210, 73, 54], ''], ['portal', [2923, 210, 155, 54], 'portal'], ['com', [3105, 210, 119, 45], 'com.'], ['corporate', [3251, 210, 265, 54], 'Corporate'], ['deni', [3544, 210, 109, 45], 'den'], ['us', [2575, 219, 55, 36], ''], ['ww', [2712, 219, 137, 27], ''], ['page', [5448, 279, 154, 74], 'Page'], ['of', [5645, 283, 63, 54], 'of']], [['gst registration no osaaaci5950l 12g shipment from itc limited sbu packaging a printing products factory plot noi 1 sector mesidcul haridwar249403 uttarakhand india telephone 911334304701 ', [2943, 0, 2809, 599], 'GST Registration No\n\nShipment from\n\n \n\n: OSAAACI5950L1Z2G\n> TC LIMITED\n\nSBU :Packaging & Printing Products Factory,\n\nPlot No:1,Sector - 11,JIE,SIDCUL Haridwar-249403.\n\nUttarakhand, India\n\nTelephone :91(1334)304701'], ['itc limited sbut packaging x printing products factory plot no 7 sector illibsideul haridwar249403 uttarakhand india telephone 911334304701 enduring lister allot pan aaaci5950l ', [116, 0, 2823, 605], 'MENS\n\nenduring Value\n\n1TC LIMITED\n\n \n\nSBU :Packaging & Printing Products Factory,\n\nPlot No:1,Sector - 114, JJIE,SSIDCUL Haridwar-249403.\n\nUttarakhand,!India\nTelephone :91(1334)304701\nPAN : AAACI5950L'], ['gst invoice no hosa2181013003210 invoice date 31012018 sap doc no 9027745 document currency inr ', [4347, 957, 1405, 704], 'GST Invoice No. z H05A218101003210\nInvoice Date : 31.01.2018\n\nSAP Doc No. : 90277475\n\nDocument Currency : INR'], ['bill to place of supply name tata global beverages ltd sampla plantpackaging center address cio sfs global ltd samplaberi road ismallia 11 bishwa tehsilsampla district rohtak india124517 state 8 state code sender haryana x 06 gstin osaaccoockize pani aabcto6002k ', [2285, 957, 2058, 706], 'Bill to (Place of Supply)\n\nName:\n\nAddress:\n\nState & State code:\nGSTIN:\n\nTata Global Beverages Ltd.\n\nSAMPLA PLANT-PACKAGING CENTER,\n\nClo SFS Globat Ltd,Sampla-Beri Road, Ismailia,\n11 Bishwa, Tehsil-Sampla,District Rohtak,India-124517\n\nHaryana & 06\nO6AABCTO0602K1ZP PAN: AABCTO602K'], ['ship to name tata global beverages ltd sampla plantipackaging center address cla sfs global ltd samplaiberi road ismallia 11 bishwa tehsilsampla district rohtak india124517 state 8 state code haryana 2 06 gstin osaaccoock21zp pan aabcto602k ', [124, 959, 2157, 707], 'Ship to\n\nName : Tata Global Beverages Ltd.\nSAMPLA PLANT-PACKAGING CENTER,\nAddress : Clo SFS Global Ltd,Sampla-Beri Road, Ismailia,\n\n11 Bishwa, Tehsil-Sampla,District Rohtak,india-124517\n\nState & State code: Haryana & 06\n\nGSTIN: O6AABCT0602K1ZP PAN : AABCT0602K'], ['total amount ', [5368, 1666, 384, 258], 'Total Amount'], ['tcs ', [5131, 1666, 229, 258], 'TCS'], ['total gst amount ', [4739, 1666, 388, 258], 'Total\nGST\nAmount'], ['igst amount ', [4410, 1666, 325, 258], 'IGST\nAmount'], ['igst rate co ', [4150, 1666, 254, 258], 'IGST\nRate (%)'], ['taxable value ', [3793, 1666, 352, 258], 'Taxable\n\nValue'], ['pack q ins ', [3498, 1666, 289, 260], 'Pack & Ins'], ['freight ', [3179, 1668, 310, 258], 'Freight'], ['net value ', [2898, 1668, 274, 260], 'Net Value'], ['rate ', [2625, 1668, 268, 260], 'Rate\n{(Per/UOM)'], ['qty ', [2285, 1668, 333, 261], 'QTY'], ['uom ', [2127, 1670, 154, 260], ''], ['no i of packages ', [1868, 1670, 252, 260], '. No. of\nPackages'], ['material no i cust order no ', [1374, 1670, 490, 260], 'Cust . Material No\n-{ Cust. Order No.'], ['part noddssription ', [427, 1672, 943, 260], 'Part No./Description'], ['hsn code description ', [129, 1672, 291, 260], 'HSN Code\n/\nDescriptio!'], ['170029286 ', [5368, 1930, 384, 256], '1700292.86'], ['o 00 ', [5131, 1930, 229, 259], '0.00'], ['25937 00 ', [4741, 1930, 386, 259], '259367.00'], ['2593700 ', [4410, 1930, 325, 259], '259367 .00'], ['18 ', [4152, 1930, 252, 259], '18.00'], ['1440925 i 36 ', [3793, 1930, 352, 259], '1440925.86'], ['0 00 000 ', [3497, 1932, 290, 257], '0.00\n0.00'], ['o 00 ', [3179, 1932, 312, 259], '0.00'], ['1440925 8 6 ', [2899, 1932, 273, 259], '1440925.8\n6'], ['195240 ', [2624, 1932, 271, 259], '195.240'], ['7380 i 280 ', [2287, 1932, 333, 261], '7380.280'], ['kg ', [2129, 1934, 152, 259], 'KG'], ['319 ', [1870, 1934, 252, 259], '319'], ['450037068 ', [1377, 1935, 489, 260], '4500137068'], ['120071890003 tp green 250g pouch alarm jaagore ', [429, 1935, 943, 260], '12007189-0003\nTP GREEN 250g Pouch ALARM —\nJAAGORE an'], ['39219096 flexible packaging ', [131, 1936, 291, 259], '39219096\nFLEXIBLE\nPACKAGING'], ['170029286 ', [5368, 2810, 384, 193], '1700292.86'], ['o 00 ', [5131, 2810, 231, 193], '0.00'], ['2596700 ', [4741, 2810, 386, 193], '259367.00'], ['2596700 ', [4412, 2810, 325, 193], '259367.00'], ['1440925 86 ', [3795, 2812, 352, 193], '1440825.86'], ['o 00 ', [3500, 2812, 289, 193], '0.00'], ['o 00 ', [3181, 2814, 314, 191], '0.00'], ['1440925 to 6 ', [2904, 2814, 271, 191], 'ome\n\n6'], ['total ', [135, 2816, 1735, 194], 'Total'], ['whether tax is payable on reverse charge basis na ', [4131, 3008, 1621, 195], 'Whether Tax is Payable on Reverse Charge Basis: NA'], ['itc limited xii merady authorized signatory ', [4341, 3206, 1411, 447], 'ITC LIMITED\ni\n\n. Me\nXewerpa!\n\nAuthorized Signatory'], ['payment terms ', [1706, 3208, 1998, 95], 'Payment Terms:'], ['transporter name calcutta express transport service mode of transportation and fuil truck vehicle no and hr55m9129 lr number sender 392057 lr date sender 31012018 ', [135, 3212, 1567, 448], 'Mode of Transportation : Full Truck\n\nVehicle No : HR55M9129\n\nTransporter Name: Calcutta Express Transport Service\nLR number : 392957 LR Date : 31.01.2018 |'], ['i e is ', [3710, 3304, 308, 351], 'OP LOOT\n\nvg\n\nSUOIIN|IAG pusy'], ['remarks ', [1708, 3305, 1994, 355], 'Remarks :'], ['2 ', [4020, 3660, 98, 283], '— fyoa'], ['can 19 ', [3706, 3660, 306, 281], '-NDD-A\n\nMi\n\n»\nI']]]